TWITCH_CLIENT_ID=blah
TWITCH_CLIENT_SECRET=blah
TWITCH_SUBSCRIPTION_SECRET_PHRASE=blah
TWITCH_BROADCASTER_ID=blah
TWITCH_BROADCASTER_ID_TEST=blah
EXPRESS_HOST_NAME=blah
EXPRESS_HOST_NAME_REVERSE_PROXY=blah
NGROK_HOST_NAME=blah
SMS_API_KEY=blah
SMS_API_SECRET=blah
SMS_ORIGIN_NUMBER=blah
SMS_DESTINATION_NUMBER=blah
